<!DOCTYPE html>
<html data-ng-app>
<head>
    <title>Dummy data generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../components/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container-fluid" data-ng-controller="InputController">
    <h1>Dummy data generator</h1>

    <div class="row-fluid">
        <form class="form-inline">
            <label for="more-row">Add more columns</label>
            <input id="more-row" type="number" data-ng-model="addMore"/>
            <button data-ng-click="addColumn()" class="btn"><i class="icon-plus"></i>Add</button>
        </form>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order</th>
                <th>Column title</th>
                <th>Data type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="column in columns">
                <td>{{$index + 1}}</td>
                <td><input type="text" ng-model="column.name"/></td>
                <td>
                    <select ng-model="column.type">
                        <option value="">Select Data Type</option>
                        <optgroup label="Personal Data">
                            <option value="type-first-name">First Name</option>
                            <option value="type-last-name">Last Name</option>
                            <option value="type-name">Name</option>
                            <option value="type-phone">Phone</option>
                        </optgroup>
                        <optgroup label="Address">
                            <option value="type-zipcode">ZipCode</option>
                            <option value="type-city">City</option>
                            <option value="type-street-name">Street Name</option>
                            <option value="type-street-address">Street Address</option>
                            <option value="type-secondary-address">Secondary Address</option>
                            <option value="type-state">State</option>
                            <option value="type-county">County</option>
                            <option value="type-country">Country</option>
                            <!--<option value="type-latitude">Latitude</option>-->
                            <!--<option value="type-longitude">Longitude</option>-->
                        </optgroup>
                        <optgroup label="Internet">
                            <option value="type-email">Email</option>
                            <option value="type-user-name">User Name</option>
                            <option value="type-domain-name">Domain Name</option>
                            <option value="type-domain-word">Domain Word</option>
                            <option value="type-ip">IP</option>
                        </optgroup>
                        <optgroup label="Company">
                            <option value="type-company-name">Company Name</option>
                            <option value="type-company-suffix">Company Suffix</option>
                            <option value="type-catch-phrase">Catch Phrase</option>
                        </optgroup>
                        <optgroup label="Text">
                            <option value="type-sentence">Sentence</option>
                            <option value="type-sentences">Sentences</option>
                            <option value="type-paragraph">Paragraph</option>
                            <option value="type-paragraphs">Paragraphs</option>
                        </optgroup>
                        <optgroup label="Other">
                            <option value="type-number">Random number</option>
                            <!--<option value="type-constant">Constant</option>-->
                        </optgroup>
                    </select>
                </td>
                <td>
                    <button class="btn btn-small" data-ng-click="deleteColumn($index)"><i class="icon-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-tabs" id="output-tab">
        <li class="active"><a href="#sql-tab">SQL</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="sql-tab">
            <form id="table-form" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">Row count</label>
                    <div class="controls">
                        <input type="number" min="1" id="row-count" placeholder="Number of generated rows" data-ng-model="table.rowCount"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Table name</label>
                    <div class="controls">
                        <input type="text" id="table-name" placeholder="Your table name" data-ng-model="table.name"/>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Choose statement type</label>
                    <div class="controls">
                        <label class="radio">
                            <input name="statement-type" type="radio" id="update-statement" checked>
                            Update
                        </label>
                        <label class="radio">
                            <input name="statement-type" type="radio" name="insert-statement" >
                            Insert
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Quotes</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="quote-table" data-ng-model="table.options.autoQuoteTableNames">
                            Use quote in table name
                        </label>
                        <label class="checkbox">
                            <input type="checkbox" id="quote-column" data-ng-model="table.options.autoQuoteFieldNames">
                            Use quote in column name
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Delete first</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" id="delete-table" data-ng-model="table.deleteFirst">
                            Detele all data before insert
                        </label>
                    </div>
                </div>
                <button data-ng-click="generate()" class="btn btn-primary">
                    <i class="icon-refresh icon-white"></i>
                    Generate
                </button>
            </form>

            <div class="row-fluid">
                <textarea rows="10" class="span12" data-ng-model="table.datas"></textarea>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="../components/angular/angular.js"></script>
<script type="text/javascript" src="../components/jquery/jquery.js"></script>
<script type="text/javascript" src="../components/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="../components/faker/Faker.js"></script>
<script type="text/javascript" src="../components/squel/index.js"></script>
<script type="text/javascript" src="../js/controllers.js"></script>
</body>
</html>